html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  border: 0.3rem;
  background-color: #3d3d3d;
}
li {
  color: white;
  display: inline;
  font-size: 3.5rem;
}
.headingthingy {
  font-size: 5rem;
  text-align: center;
  box-sizing: border-box;
}
.FirstScrollPage {
  background-image: url(/figma/pub/nyc.jpg);
}
