html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}
nav {
  display: flex;
  border: 0.3rem;
  margin-right: 1rem;
  text-indent: 3rem;
  padding: 1rem;
  background-color: #3d3d3d;
}
li {
  color: white;
  display: inline;
  font-size: 1rem;
}
.FirstScrollPage {
  background-image: ;
}
